#map {
    width: 100%;
    height: 85vh;
}
header{
    color: white;
    background: black;
    padding: 10px;
    margin: 0px;
}
footer{
    font-size: 30px;
    text-align: center;
    margin: 0px;
    padding: 0px;
}
.hidden{
     display: none;
}

.visible{
    display: block;
}
article{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    width: 30%;
    background: floralwhite;
}
main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 0px;
}
#kaupunki{
    text-align: center;
}
#lampo{
    margin-left: 30px;
}
#desc{
    margin-left: 30px;
}
#tuntuu{
    margin-left: 30px;
}
#img{
    max-width: 40%;
    position: absolute;
    right: 5px;
    top: 30px;
    align-content: end;
}