body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#map {
    width: 100%;
    height: 85vh;
    position: absolute;
}
header{
    color: white;
    background: black;
    padding: 10px;
    margin: 0px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
footer{
    font-size: 30px;
    text-align: center;
    margin-top: 0px;
    padding: 0px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.hidden{
     display: none;
}

.visible{
    display: block;
}
#info{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    width: 30%;
    background: lightpink;
    max-height: 85vh;
    overflow: auto;
    right: 0px;
}
main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 0px;
}
#kaupunki{
    text-align: center;
}
#lampo{
    margin-left: 30px;
}
#desc{
    margin-left: 30px;
}
#tuntuu{
    margin-left: 30px;
}
#img{
    max-width: 40%;
    position: absolute;
    right: 5px;
    top: 30px;
    align-content: end;
}
#nappi{
    position: absolute;
    top: 80px;
    right: 20px;
    z-index: 500;
}
#avaa{
    position: absolute;
    top: 80px;
    right: 20px;
    z-index: 500;
}
#matkatietoja{
    position: absolute;
    top: 80px;
    right: 150px;
    z-index: 500;
}
#piilota{
    position: absolute;
    top: 80px;
    right: 150px;
    z-index: 500;
}
ul{
    position: relative;
    list-style: none;
}
li img{
    position: absolute;
    right: 5px;
    vertical-align: top;
}
li{
    line-height: 0.3em;
    margin-bottom: 2em;
}
/*Modal setup is */
.modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 400; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
}

@media only screen and (max-width: 1400px) {

    #info{
        display: block;
        width: 100%;

    }
    map{
        width: 100%
    }
}
#valikko{

}